#QuizContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vw;


}

#QuizContainer > h3 {
    align-self: center;
    align-items: center;
    font-size: 30px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    width: 100%;
    
}

#QuizContainer > button {
    width: 45vw;
    padding: 5vw;
    font-size: 20px;
    height: 10rem;
    border-radius: 20px;
    background-color: #00CF97;
    border-color: #006349;

}

#quiz-score {
    align-self: center;
    align-items: center;
    font-size: 45px;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    border: 3px solid #00CF97;
    padding: 10px;
    border-radius: 10px;
}

#quiz-leaderboard-p {
    font-size: 45px;
    margin-top: 20px;
}