.background5 {
    background-color: #03989E;
   
  
  }
  
  .background5 {
    background-image: url('../../media/zone5bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    
  }
  
  .sub {
    position: fixed;
    top: 45%;
    right: 10%;
    width: 20%;
    z-index: 2;
  }
  
  
  
  #zone-title {
    text-align: center;
    font-size: 40px;
    color: #a9b31f;
    padding-top: 10%;
    margin: 0;
  }

.element_container5 {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  /* background-color: red; */
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
  gap: 5%;
  justify-content:left;
}

.element5{
  background-color: transparent;
  padding: 10%;
  border: 0;
  margin: 5%;
}

.element_img5 {
  max-width: 50%;
}

  
  
  