.background2 {
    background-color: #094C64;
   
  
  }
  
  .background2 {
    background-image: url('../../media/zone2bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .sub {
    position: fixed;
    top: 45%;
    right: 10%;
    width: 20%;
    z-index: 2;
  }
  
  
  .ripple {
    position: absolute;
    width: 300px;
    opacity: 33%;
    z-index: 1;
  
  }
  
  #ripple1 {
    /* position: absolute; */
    top: 33%;
    animation: 30s linear 1s infinite running ripple1;
  }
  
  @keyframes ripple1 {
    from {
      /* pushes the sun down past the viewport */
      transform: translateX(110vw);
    }
    to {
      /* returns the sun to its default position */
      transform: translateX(0);
    }
  }
  
  
  #ripple2 {
    /* position: absolute; */
    top: 66%;
    animation: 40s linear 1s infinite running ripple2;
    /* animation: 10s linear 0.5s infinite running ripple1; */
  }
  
  @keyframes ripple2 {
    from {
      /* pushes the sun down past the viewport */
      transform: translateX(0);
    }
    to {
        /* returns the sun to its default position */
        transform: translateX(110vw);
    }
  }
  
  
  #ripple3 {
    /* position: absolute; */
    top: 66%;
    animation: 40s linear 1s infinite running ripple3;
    /* animation: 10s linear 0.5s infinite running ripple1; */
  }
  
  @keyframes ripple3 {
    from {
      /* pushes the sun down past the viewport */
      transform: translateX(0);
    }
    to {
        /* returns the sun to its default position */
        transform: translateX(110vw);
    }
  }
  
  
  #ripple4 {
    /* position: absolute; */
    top: 10%;
    animation: 20s linear 1s infinite running ripple4;
    /* animation: 10s linear 0.5s infinite running ripple1; */
  }
  
  @keyframes ripple4 {
    from {
      /* pushes the sun down past the viewport */
      transform: translateX(110vw);
    }
    to {
        /* returns the sun to its default position */
        transform: translateX(0);
    }
  }
  
  
  .zone_title2 {
    text-align: center;
    font-size: 30px;
    color: #a9b31f;
    padding-top: 0%;
    margin: 5%;
    margin-top: 0;
    padding-top: 10px;
  }

.element_container {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap-reverse;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0%;
  align-items:flex-start;
  gap: 0%;
  /* justify-content:flex-start; */
}

.element{
  background-color:transparent;
  padding: 10%;
  border: 0;
  margin: 10%;
}

.element_img {
  max-width: 40%;
}
.up-down {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 2%;
  margin-bottom: 5%;
}

.zone_button {
  border: 0;
  /* width: 8rem; */
  /* height: 7rem; */
  padding: 0.5rem;
  border: 3px solid darkblue;
  color: black;
  background-color: lightblue;
}

.upImg {
  width: 2rem;
  height: 2rem;
  padding: 5%;
  margin-bottom: 5%;
}

  