body {
  overflow: hidden;
}

.wave {
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  animation-timing-function: linear;
  animation-name: wave1;
  animation-iteration-count: infinite;
}
@keyframes wave1 {
    0% {
      left: -5%;
    }
    50% {
      left: 5%;
    }
    100% {
      left: -5%;
    }
  }
  

#wave1 {
  top: 70%;
  animation-duration: 5s;

}




#wave2 {
  /* position: absolute; */
  top: 75%;
  animation-duration: 8s;

  /* animation: 30s linear 1s infinite running ripple1; */
}

#wave3 {
  /* position: absolute; */
  top: 80%;
  animation-duration: 10s;
  /* animation: 30s linear 1s infinite running ripple1; */
}

#wave4 {
  /* position: absolute; */
  top: 85%;
  animation-duration: 12s;
  /* animation: 30s linear 1s infinite running ripple1; */
}

#wave5 {
  /* position: absolute; */
  top: 90%;
  /* animation: 30s linear 1s infinite running ripple1; */
}
