#navbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    background-color:transparent;
    
    /* 
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
     */
        
}

#navbuttons > a > button {
    width: max-content;
    padding: 1.5vw;
    font-size: 100%;
    background-color: #00405B;
    border-color: lightblue;
    border-radius: 60px;
    color: lightblue ;
}


 /* padding: 10px;
    font-size: 30px;
    background-color: #c2a1d4;
    border-color: #77436e;

    border-radius: 60px; */


#navbar-title {
    font-size: 2.5vw;
    /* font-size: 100%; */
    color: #00405B;
}

