
  .form-wrapper {
    list-style-type: none;
    box-sizing: border-box;
    display: block;
    /* margin:  auto; */
    width: 100%;

  }
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.4vh;
  }
  
  .form-row > label {
    padding: 0.5vw 1vh 0.5vw 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: 0.5rem;
  }
  .form-row > button {
   background: #00405B;
   color: white;
   border: 0;
   transition-duration: 0.4s;
   margin: 0.5rem;
   border-radius: 0.2rem;
   padding: 0.7rem;
  }
  
  .form-row > button:hover {
    background-color: white;
    color: black;
  }
  
  #formheader {
    text-align: center;
  }