#leaderboard_container > h4 {
    text-align: center;
    /* margin-top: 20%; */
    margin-bottom: 10px;
    font-size: 40px;
}

#leaderboard_container {
    

    text-align: center;
    padding: 10px 20px;
    /* margin: auto; */
    background-color: rgb(103, 185, 211);
    

}

